<div class="card mb-3">
  <div class="card-header d-flex justify-content-between align-items-center">
    <h6 class="card-title mb-0">All Parties (global threshold)</h6>
      <button class="btn btn-success" id="save-values">Save</button>
  </div>
  <div class="card-body">
    <div class="mb-3">
      <label class="form-label">Danger</label>
      <div class="input-group">
        <button class="btn btn-outline-secondary" type="button" onclick="decrement('danger-value')">-</button>
        <input type="text" class="form-control text-center number-input-group-danger" id="danger-value" value="{{ result.all_parties_with_sale.threshold.danger|default:0 }}">
        <button class="btn btn-outline-secondary" type="button" onclick="increment('danger-value')">+</button>
      </div>
    </div>
    <div class="mb-3">
      <label class="form-label">Action</label>
      <div class="input-group">
        <button class="btn btn-outline-secondary" type="button" onclick="decrement('action-value')">-</button>
        <input type="text" class="form-control text-center number-input-group-action" id="action-value" value="{{ result.all_parties_with_sale.threshold.action|default:0 }}">
        <button class="btn btn-outline-secondary" type="button" onclick="increment('action-value')">+</button>
      </div>
    </div>
    <div class="mb-3">
      <label class="form-label">Acceptable</label>
      <div class="input-group">
        <button class="btn btn-outline-secondary" type="button" onclick="decrement('acceptable-value')">-</button>
        <input type="text" class="form-control text-center number-input-group-acceptable" id="acceptable-value" value="{{ result.all_parties_with_sale.threshold.acceptable|default:0 }}">
        <button class="btn btn-outline-secondary" type="button" onclick="increment('acceptable-value')">+</button>
      </div>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-header d-flex justify-content-between align-items-center">
    <h5 class="card-title mb-0">All Parties (choose columns)</h5>
    <button id="save-columns" class="btn btn-success">Save</button>
  </div>
  <div class="card-body" style="max-height: 15em; overflow-y: auto;">
    <div class="checkbox-list p-2 rounded border">
      {% for column, count in result.all_parties_with_sale.counts.items %}
        <div class="form-check mb-2">
          <input class="form-check-input column-checkbox" type="checkbox" value="{{ column }}" id="check{{ forloop.counter }}" />
          <label class="form-check-label" for="check{{ forloop.counter }}">{{ column }}</label>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

<script>
  document.getElementById('save-values').addEventListener('click', function() {
    const data = {
      threshold: {
        danger: document.getElementById('danger-value').value,
        action: document.getElementById('action-value').value,
        acceptable: document.getElementById('acceptable-value').value
      },
      methodName: 'save_all_parties_ddr_threshold',
    };

    saveEntity(data, function(response) {
      updateTable(response.threshold);
      window.location.href = "{% url 'ddr-home' %}?cached=false";
    });
  });

  function updateTable(thresholds) {
    $('#report-row .report-column').each(function() {
      const column = $(this).data('column');
      let value = parseInt($(this).find('a').text());

      if (value > thresholds.danger) {
        $(this).css('background-color', '#ffcccc');
      } else if (value >= thresholds.action && value <= thresholds.danger) {
        $(this).css('background-color', '#ffffcc');
      } else {
        $(this).css('background-color', '#ccffcc');
      }
    });
  }
  
  $(document).ready(function() {
    // Pre-select checkboxes based on selected_columns and then clear it
    var selectedColumns = {{ result.all_parties_with_sale.selected_columns|safe }};
    selectedColumns.forEach(function(column) {
      $('.column-checkbox[value="' + column + '"]').prop('checked', true);
    });

    // Handle save button click for columns
    $('#save-columns').click(function() {
      var selectedColumns = [];
      $('.column-checkbox:checked').each(function() {
        selectedColumns.push($(this).val());
      });

      const data = {
        columns: selectedColumns,
        report_id: {{result.all_parties_with_sale.report.id}},
        methodName: 'save_all_parties_ddr_selected_columns',
      }

      saveEntity(data, function(response) {
        window.location.href = "{% url 'ddr-home' %}?cached=false";
      });
    });

    // Handle column checkbox change
    $('.column-checkbox').change(function() {
      var selectedColumns = [];
      $('.column-checkbox:checked').each(function() {
        selectedColumns.push($(this).val());
      });

      $('.report-column').each(function() {
        var column = $(this).data('column');
        if (selectedColumns.includes(column)) {
          $(this).show();
        } else {
          $(this).hide();
        }
      });
    });

    // Initially hide columns based on default selections (if needed)
    $('.column-checkbox').change();
  });
</script>