<div class="card">
  <div class="card-header d-flex justify-content-between align-items-center">
    <h5 class="card-title mb-0">Routing Report (Visibility count)</h5>
    <button id="save-routing-visibility" class="btn btn-success">Save</button>
  </div>
  <div class="card-body" style="max-height: 15em; overflow-y: auto;">
    <div class="input-group">
      <button class="btn btn-outline-secondary" type="button" onclick="decrement('routing-visibility-value')">-</button>
      <input type="text" class="form-control text-center" id="routing-visibility-value" value="{{ result.routing_report.visibility_count|default:7 }}">
      <button class="btn btn-outline-secondary" type="button" onclick="increment('routing-visibility-value')">+</button>
    </div>
  </div>
</div>