{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Clifftip</title>
  </head>

  <body>
    <h1>Clifftip</h1>

    <div>
      <a href="/ddr">Dashboard</a>
    </div>
    <div>
      <a href="/report">Report</a>
    </div>
    <div>
      <a href="/utilities">Utilities</a>
    </div>

    <hr />
    <form action="{% url 'logout' %}" method="post">
      {% csrf_token %}
      <button type="submit">Logout</button>
    </form>

  </body>
</html>
