.bg {
  background-color: grey;
}

html,
body {
  height: 100%; /* Ensure the full height is available */
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
}

#spreadsheet {
  border: solid;
  border-width: thin;
  border-radius: 8px;
}

.custom-report-true {
  background-color: lightblue;
}

.custom-report-false {
  background-color: lightgreen;
}

.custom-sidebar-brand {
  font-size: 1.8rem;
  text-decoration: none;
}

.number-input-group-danger {
  background-color: #ffcccc !important;
}

.number-input-group-action {
  background-color: #ffffcc !important;
}

.number-input-group-acceptable {
  background-color: #ccffcc !important;
}