.bg {
  background-color: grey;
}

html,
body {
  height: 100%; /* Ensure the full height is available */
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
}

#spreadsheet {
  height: calc(50vh - 40px); /* 100% of the viewport height minus some margin */
  width: 98%; /* Full width of the viewport */
  overflow: auto; /* Add scrollbars when content overflows */
  margin: 20px; /* Margin around the spreadsheet */
  border: solid;
  border-width: thin;
}

.custom-report-true {
  background-color: lightblue;
}

.custom-report-false {
  background-color: lightgreen;
}

.custom-sidebar-brand {
  font-size: 1.8rem;
  text-decoration: none;
}
