{% extends 'commonutil/base.html' %}
{% load static %}

{% block title %}
  Dashboard | Clifftip
{% endblock %}

{% block styles %}
  <script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
  <style>
    /* Basic styling for dropdown and table */
    .dropdown {
      position: relative;
      display: inline-block;
    }

    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      max-height: 200px; /* Approx 6-7 items */
      overflow-y: auto;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1;
      padding: 10px;
    }

    .dropdown-content .form-check {
      margin: 5px 0;
    }

    .show {
      display: block;
    }

    .dropdown-footer {
      position: sticky;
      bottom: 0;
      background-color: #f9f9f9;
      padding: 10px;
      box-shadow: 0px -2px 4px 0px rgba(0, 0, 0, 0.1);
    }

    .number-input-group-danger {
      background-color: #ffcccc;
    }

    .number-input-group-action {
      background-color: #ffffcc;
    }

    .number-input-group-acceptable {
      background-color: #ccffcc;
    }
  </style>
{% endblock %}

{% block content %}
  <div class="wrapper">
    {% include 'commonutil/sidebar.html' %}
    <div class="main">
      {% include 'commonutil/navbar.html' %}
      <main class="content">
        <div class="container-fluid p-0">
          <div class="d-flex justify-content-between align-items-center mb-3">
            <h1 class="h3 mb-0">Dashboard</h1>
            <div>
              <a href="{% url 'ddr-home' %}?cached=false" class="btn btn-primary">Refresh</a>
              <button class="btn btn-primary my-1" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">Configuration</button>
            </div>
          </div>
          <div class="row">

            <div class="col-lg-6 col-xl-6 col-xxl-6 d-flex flex-column">
              <div class="w-100">
                <div class="card">
                  <div class="card-header">
                    <h5 class="card-title">All Parties data completion</h5>
                  </div>
                  <div style="overflow-x: auto; margin: 0; padding: 0;" class="scrollable-container">
                    <table id="report-table" class="table" style="border-collapse: collapse; width: 100%; margin: 0; padding: 0;">
                        <tr>
                            {% for column, count in result.all_parties_with_sale.counts.items %}
                              <th class="report-column" style="padding: 0.6em; white-space: nowrap; border: 1px solid white; background-color: #96D4D4; text-align: left;" data-column="{{ column }}">{{ column }}</th>
                            {% endfor %}
                          </tr>
                          <tr id="report-row">
                            {% for column, count in result.all_parties_with_sale.counts.items %}
                              <td class="report-column" data-column="{{ column }}" style="padding: 0.6em; border: 1px solid white; {% if count > result.all_parties_with_sale.threshold.danger %} background-color: #ffcccc;
                                {% elif count >= result.all_parties_with_sale.threshold.action and count <= result.all_parties_with_sale.threshold.danger %} background-color: #ffffcc;
                                {% else %} background-color: #ccffcc;
                                {% endif %}">
                                <a href="{% url 'report-view' result.all_parties_with_sale.report.id %}" style="display: block; width: 100%; height: 100%; text-decoration: none; color: inherit;">
                                  {{ count }}
                                </a>
                              </td>
                            {% endfor %}
                          </tr>
                      </table>
                  </div>
                </div>
              </div>
          
              <div class="w-100">

                <div class="card">
                  <div class="card-header d-flex justify-content-between align-items-center">
                    <h5 class="card-title">Sale Register (Net Total)</h5>
                    <div class="btn-group btn-group-sm mb-4" role="group" aria-label="Time Period Selection">
                      <button type="button" class="btn btn-secondary" onclick="populateLineChart('day')">Day</button>
                      <button type="button" class="btn btn-secondary" onclick="populateLineChart('week')">Week</button>
                      <button type="button" class="btn btn-secondary" onclick="populateLineChart('month')">Month</button>
                      <button type="button" class="btn btn-secondary" onclick="populateLineChart('year')">Year</button>
                    </div>
                  </div>
                  <div class="card-body">
                    <div class="chart w-100">
                      <div id="apexcharts-line"></div>
                    </div>
                  </div>
                </div>

                <div class="card">
                  {% comment %} next card {% endcomment %}
                </div>

              </div>
            </div>
          
            <div class="col-lg-6 col-xl-6 col-xxl-6 d-flex">
              
              <div class="w-100">

                <div class="card">
                  <div class="card-header">
                    <h5 class="card-title">Bom Report</h5>
                  </div>
                  <div class="table-responsive" id="scrollable-container" style="max-height: 400px; overflow-y: auto;">
                    <table class="table table-striped table-bordered table-sm">
                        <tr>
                          <th>Date</th>
                          {% for item in result.bom_report.items%}
                            <td class="text-end" style="white-space: nowrap;">{{ item.report_upload_date }}</td>
                          {% endfor %}
                        </tr>
                        <tr>
                          <th>Lock/Total</th>
                          {% for item in result.bom_report.items%}
                            <td class="text-end" style="white-space: nowrap;">{{ item.data_lock }} / {{ item.total }}</td>
                          {% endfor %}
                        </tr>
                        <tr>
                          <th>Percentage</th>
                          {% for item in result.bom_report.items%}
                            <td class="text-end" style="white-space: nowrap;">{{ item.data_lock_percent|floatformat:2 }}%</td>
                          {% endfor %}
                          <td>
                            <div style="height:25px;">
                                <canvas id="bom-chart-percentage-trend"></canvas>
                            </div>
                        </td>
                        </tr>
                    </table>
                  </div>
                </div>

                <div class="card">
                  <div class="card-header">
                    <h5 class="card-title">Routing Report</h5>
                  </div>
                  <div class="table-responsive" id="scrollable-container" style="max-height: 400px; overflow-y: auto;">
                    <table class="table table-striped table-bordered table-sm">
                        <tr>
                          <th>Date</th>
                          {% for item in result.routing_report.items%}
                            <td class="text-end" style="white-space: nowrap;">{{ item.report_upload_date }}</td>
                          {% endfor %}
                        </tr>
                        <tr>
                          <th>Lock/Total</th>
                          {% for item in result.routing_report.items%}
                            <td class="text-end" style="white-space: nowrap;">{{ item.data_lock }} / {{ item.total }}</td>
                          {% endfor %}
                        </tr>
                        <tr>
                          <th>Percentage</th>
                          {% for item in result.routing_report.items%}
                            <td class="text-end" style="white-space: nowrap;">{{ item.data_lock_percent|floatformat:2 }}%</td>
                          {% endfor %}
                          <td>
                            <div style="height:25px;">
                                <canvas id="routing-chart-percentage-trend"></canvas>
                            </div>
                        </td>
                        </tr>
                    </table>
                  </div>
                </div>

                {% comment %} <div class="card">
                  <div class="card-header d-flex justify-content-between align-items-center">
                    <h5 class="card-title">Sale register (Net total)</h5>
                    <div class="btn-group btn-group-sm mb-4" role="group" aria-label="Time Period Selection">
                      <button type="button" class="btn btn-secondary" onclick="updateChart('day')">Day</button>
                      <button type="button" class="btn btn-secondary" onclick="updateChart('week')">Week</button>
                      <button type="button" class="btn btn-secondary" onclick="updateChart('month')">Month</button>
                      <button type="button" class="btn btn-secondary" onclick="updateChart('year')">Year</button>
                    </div>
                  </div>
                  <div class="card-body">
                    <div class="chart">
                      <canvas id="sale-register-total-sales"></canvas>
                    </div>
                  </div>
                </div> {% endcomment %}
                
                <div class="card">
                  {% comment %} next card {% endcomment %}
                </div>

              </div>
            </div>
          </div>
          
        </div>

        <div class="alert alert-info alert-dismissible" role="alert" id="scroll-alert" style="display: none;">
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          <div class="alert-message">
              Press Shift+scroll for horizontal scrolling
          </div>
        </div>

      </main>
    </div>
  </div>

  <div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel" style="overflow-y: auto; background-color: #F5F7FB;">
    <div class="offcanvas-header">
      <h4 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Dashboard Configuration</h4>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
  
      <div class="card mb-3">
        <div class="card-header d-flex justify-content-between align-items-center">
          <h6 class="card-title mb-0">All Parties (global threshold)</h6>
          <button class="btn btn-success" id="save-values">Save</button>
        </div>
        <div class="card-body">
          <div class="mb-3">
            <label class="form-label">Danger</label>
            <div class="input-group">
              <button class="btn btn-outline-secondary" type="button" onclick="decrement('danger-value')">-</button>
              <input type="text" class="form-control text-center number-input-group-danger" id="danger-value" value="{{ result.all_parties_with_sale.threshold.danger|default:0 }}">
              <button class="btn btn-outline-secondary" type="button" onclick="increment('danger-value')">+</button>
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label">Action</label>
            <div class="input-group">
              <button class="btn btn-outline-secondary" type="button" onclick="decrement('action-value')">-</button>
              <input type="text" class="form-control text-center number-input-group-action" id="action-value" value="{{ result.all_parties_with_sale.threshold.action|default:0 }}">
              <button class="btn btn-outline-secondary" type="button" onclick="increment('action-value')">+</button>
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label">Acceptable</label>
            <div class="input-group">
              <button class="btn btn-outline-secondary" type="button" onclick="decrement('acceptable-value')">-</button>
              <input type="text" class="form-control text-center number-input-group-acceptable" id="acceptable-value" value="{{ result.all_parties_with_sale.threshold.acceptable|default:0 }}">
              <button class="btn btn-outline-secondary" type="button" onclick="increment('acceptable-value')">+</button>
            </div>
          </div>
        </div>
      </div>
  
      <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
          <h5 class="card-title mb-0">All Parties (choose columns)</h5>
          <button id="save-columns" class="btn btn-success">Save</button>
        </div>
        <div class="card-body" style="max-height: 15em; overflow-y: auto;">
          <div class="checkbox-list p-2 rounded border">
            {% for column, count in result.all_parties_with_sale.counts.items %}
              <div class="form-check mb-2">
                <input class="form-check-input column-checkbox" type="checkbox" value="{{ column }}" id="check{{ forloop.counter }}" />
                <label class="form-check-label" for="check{{ forloop.counter }}">{{ column }}</label>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
      
      <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
          <h5 class="card-title mb-0">Bom Report (Visibility count)</h5>
          <button id="save-bom-visibility" class="btn btn-success">Save</button>
        </div>
        <div class="card-body" style="max-height: 15em; overflow-y: auto;">
          <div class="input-group">
            <button class="btn btn-outline-secondary" type="button" onclick="decrement('bom-visibility-value')">-</button>
            <input type="text" class="form-control text-center" id="bom-visibility-value" value="{{ result.bom_report.visibility_count|default:7 }}">
            <button class="btn btn-outline-secondary" type="button" onclick="increment('bom-visibility-value')">+</button>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
          <h5 class="card-title mb-0">Routing Report (Visibility count)</h5>
          <button id="save-routing-visibility" class="btn btn-success">Save</button>
        </div>
        <div class="card-body" style="max-height: 15em; overflow-y: auto;">
          <div class="input-group">
            <button class="btn btn-outline-secondary" type="button" onclick="decrement('routing-visibility-value')">-</button>
            <input type="text" class="form-control text-center" id="routing-visibility-value" value="{{ result.routing_report.visibility_count|default:7 }}">
            <button class="btn btn-outline-secondary" type="button" onclick="increment('routing-visibility-value')">+</button>
          </div>
        </div>
      </div>
      
    </div>
  </div>
  
  <script>
    document.addEventListener('DOMContentLoaded', function () {
        var ctx = document.getElementById('bom-chart-percentage-trend').getContext('2d');
        var dataLockPercent = [
            {% for item in result.bom_report.items %}
                {{ item.data_lock_percent|floatformat:2 }},
            {% endfor %}
        ];

        var chart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: dataLockPercent.map((_, index) => index + 1), // Adding labels to avoid undefined issue
                datasets: [{
                    data: dataLockPercent,
                    borderColor: 'rgba(0, 123, 255, 1)',
                    borderWidth: 1,
                    fill: false,
                    pointBackgroundColor: 'rgba(120, 120, 120, 1)', // Color for highlighted points
                    pointBorderColor: 'rgba(255, 0, 0, 0)', // Border color for highlighted points
                    pointRadius: 2 // Size of highlighted points
                }]
            },
            options: {
              legend: {
                display: false
             },
             tooltips: {
                enabled: false
             },
              scales: {
                xAxes: [{
                  ticks: {
                    display: false //this will remove only the label
                },
                    gridLines: {
                        display:false
                    }
                }],
                yAxes: [{
                  ticks: {
                    display: false //this will remove only the label
                },
                    gridLines: {
                        display:false
                    }   
                  }]
                },
                plugins: {
                    legend: {
                        display: false // Hide the legend
                    }
                },
                elements: {
                    point: {
                        radius: 0 // Highlight data points
                    },
                    line: {
                        tension: 0 // Add some curve to the line
                    }
                },
                responsive: true,
                maintainAspectRatio: false,
                animation: false
            }
        });
    });
  </script>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
        var ctx = document.getElementById('routing-chart-percentage-trend').getContext('2d');
        var dataLockPercent = [
            {% for item in result.routing_report.items %}
                {{ item.data_lock_percent|floatformat:2 }},
            {% endfor %}
        ];

        var chart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: dataLockPercent.map((_, index) => index + 1), // Adding labels to avoid undefined issue
                datasets: [{
                    data: dataLockPercent,
                    borderColor: 'rgba(0, 123, 255, 1)',
                    borderWidth: 1,
                    fill: false,
                    pointBackgroundColor: 'rgba(120, 120, 120, 1)', // Color for highlighted points
                    pointBorderColor: 'rgba(255, 0, 0, 0)', // Border color for highlighted points
                    pointRadius: 2 // Size of highlighted points
                }]
            },
            options: {
              legend: {
                display: false
            },
            tooltips: {
                enabled: false
            },
              scales: {
                xAxes: [{
                  ticks: {
                    display: false //this will remove only the label
                },
                    gridLines: {
                        display:false
                    }
                }],
                yAxes: [{
                  ticks: {
                    display: false //this will remove only the label
                },
                    gridLines: {
                        display:false
                    }   
                  }]
                },
                plugins: {
                    legend: {
                        display: false // Hide the legend
                    }
                },
                elements: {
                    point: {
                        radius: 0 // Highlight data points
                    },
                    line: {
                        tension: 0 // Add some curve to the line
                    }
                },
                responsive: true,
                maintainAspectRatio: false,
                animation: false
            }
        });
    });
  </script>

  <script>
    function getCookie(name) {
      let cookieValue = null;
      if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
          const cookie = cookies[i].trim();
          if (cookie.substring(0, name.length + 1) === (name + '=')) {
            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
            break;
          }
        }
      }
      return cookieValue;
    }

    function increment(id) {
      let input = document.getElementById(id);
      input.value = parseInt(input.value) + 1;
    }

    function decrement(id) {
      let input = document.getElementById(id);
      if (input.value > 0) {
        input.value = parseInt(input.value) - 1;
      }
    }

    document.getElementById('save-values').addEventListener('click', function() {
      const csrftoken = getCookie('csrftoken');
      const data = {
        threshold: {
          danger: document.getElementById('danger-value').value,
          action: document.getElementById('action-value').value,
          acceptable: document.getElementById('acceptable-value').value
        },
        methodName: 'save_all_parties_ddr_threshold',
      };

      $.ajax({
        url: "{% url 'ddr-api-saveEntity' %}",
        method: "POST",
        headers: {
          'X-CSRFToken': csrftoken,
          'Content-Type': 'application/json'
        },
        data: JSON.stringify(data),
        success: function(response) {
          // Update the table cells dynamically
          updateTable(response.threshold);
        },
        error: function(error) {
          console.error('Error:', error);
        }
      });
    });

    function updateTable(thresholds) {
      $('#report-row .report-column').each(function() {
        const column = $(this).data('column');
        let value = parseInt($(this).find('a').text());

        if (value > thresholds.danger) {
          $(this).css('background-color', '#ffcccc');
        } else if (value >= thresholds.action && value <= thresholds.danger) {
          $(this).css('background-color', '#ffffcc');
        } else {
          $(this).css('background-color', '#ccffcc');
        }
      });
    }
  </script>
  
  <script>
    document.getElementById('save-bom-visibility').addEventListener('click', function() {
      const csrftoken = getCookie('csrftoken');
      const data = {
        visibility_count: document.getElementById('bom-visibility-value').value,
        methodName: 'save_bom_report_visibility_count',
      };

      $.ajax({
        url: "{% url 'ddr-api-saveEntity' %}",
        method: "POST",
        headers: {
          'X-CSRFToken': csrftoken,
          'Content-Type': 'application/json'
        },
        data: JSON.stringify(data),
        success: function(response) {
          // Update the table cells dynamically
          updateTable(response.threshold);
        },
        error: function(error) {
          console.error('Error:', error);
        }
      });
    });
  </script>

  <script>
    document.getElementById('save-routing-visibility').addEventListener('click', function() {
      const csrftoken = getCookie('csrftoken');
      const data = {
        visibility_count: document.getElementById('routing-visibility-value').value,
        methodName: 'save_routing_report_visibility_count',
      };

      $.ajax({
        url: "{% url 'ddr-api-saveEntity' %}",
        method: "POST",
        headers: {
          'X-CSRFToken': csrftoken,
          'Content-Type': 'application/json'
        },
        data: JSON.stringify(data),
        success: function(response) {
          // Update the table cells dynamically
          updateTable(response.threshold);
        },
        error: function(error) {
          console.error('Error:', error);
        }
      });
    });
  </script>

  <script>
    $(document).ready(function() {
      const csrftoken = getCookie('csrftoken');

      // Pre-select checkboxes based on selected_columns and then clear it
      var selectedColumns = {{ result.all_parties_with_sale.selected_columns|safe }};
      selectedColumns.forEach(function(column) {
        $('.column-checkbox[value="' + column + '"]').prop('checked', true);
      });

      // Handle save button click for columns
      $('#save-columns').click(function() {
        var selectedColumns = [];
        $('.column-checkbox:checked').each(function() {
          selectedColumns.push($(this).val());
        });
  
        $.ajax({
          url: "{% url 'ddr-api-saveEntity' %}",
          method: "POST",
          headers: {
            'X-CSRFToken': csrftoken,
            'Content-Type': 'application/json'
          },
          data: JSON.stringify({
            columns: selectedColumns,
            report_id: {{result.all_parties_with_sale.report.id}},
            methodName: 'save_all_parties_ddr_selected_columns',
          }),
          success: function(response) {
            // Optionally handle the response from the backend
          }
        });
      });
  
      // Handle column checkbox change
      $('.column-checkbox').change(function() {
        var selectedColumns = [];
        $('.column-checkbox:checked').each(function() {
          selectedColumns.push($(this).val());
        });
  
        $('.report-column').each(function() {
          var column = $(this).data('column');
          if (selectedColumns.includes(column)) {
            $(this).show();
          } else {
            $(this).hide();
          }
        });
      });
  
      // Initially hide columns based on default selections (if needed)
      $('.column-checkbox').change();
    });
  </script>


  <script>
    var apiUrl = '{% url 'report-datefilter-api' result.sale_register.report.id|default:"0" %}';
    var requestData = {};
    var currentDate = new Date();
    var lastYearDate = new Date();
    lastYearDate.setFullYear(currentDate.getFullYear() - 1);
    
    function formatDate(date) {
      var day = ("0" + date.getDate()).slice(-2);
      var month = ("0" + (date.getMonth() + 1)).slice(-2);
      var year = date.getFullYear();
      return year + '-' + month + '-' + day;
    }

    requestData = {
      start_date: formatDate(lastYearDate),
      end_date: formatDate(currentDate),
      columns: "Net Total"
    };

    {% comment %} function updateChart(view) {
      var labels = [];
      var data = [];
      var aggregatedData = {};
    
      window.reportData.forEach(item => {
        var date = new Date(item["Invoice Date"]);
        var label;
    
        if (view === 'day') {
          label = date.toISOString().split('T')[0];
        } else if (view === 'week') {
          var weekStart = new Date(date.setDate(date.getDate() - date.getDay())).toISOString().split('T')[0];
          label = weekStart;
        } else if (view === 'month') {
          label = date.getFullYear() + '-' + ("0" + (date.getMonth() + 1)).slice(-2);
        } else if (view === 'year') {
          label = date.getFullYear().toString();
        }
    
        if (!aggregatedData[label]) {
          aggregatedData[label] = 0;
        }
        aggregatedData[label] += item["Net Total"];
      });
    
      labels = Object.keys(aggregatedData);
      data = Object.values(aggregatedData).map(value => Math.round(value)); // Round to nearest whole number
    
      var chartData = {
        labels: labels,
        datasets: [{
          label: "Total Sales",
          backgroundColor: window.theme.primary,
          borderColor: window.theme.primary,
          hoverBackgroundColor: window.theme.primary,
          hoverBorderColor: window.theme.primary,
          data: data,
          barPercentage: .75,
          categoryPercentage: .5
        }]
      };
    
      var ctx = document.getElementById("sale-register-total-sales").getContext('2d');
      if (window.salesChart) {
        window.salesChart.destroy();
      }
      window.salesChart = new Chart(ctx, {
        type: 'bar',
        data: chartData,
        options: {
          maintainAspectRatio: false,
          legend: {
            display: false
          },
          scales: {
            yAxes: [{
              gridLines: {
                display: false
              },
              stacked: false,
              ticks: {
                stepSize: 20
              }
            }],
            xAxes: [{
              stacked: false,
              gridLines: {
                color: "transparent"
              }
            }]
          }
        }
      });
    } {% endcomment %}
    
    function populateLineChart(view) {
      var labels = [];
      var data = [];
      var aggregatedData = {};
    
      window.reportData.forEach(item => {
        var date = new Date(item["Invoice Date"]);
        var label;
    
        if (view === 'day') {
          label = date.toISOString().split('T')[0];
        } else if (view === 'week') {
          var weekStart = new Date(date.setDate(date.getDate() - date.getDay())).toISOString().split('T')[0];
          label = weekStart;
        } else if (view === 'month') {
          label = date.getFullYear() + '-' + ("0" + (date.getMonth() + 1)).slice(-2);
        } else if (view === 'year') {
          label = date.getFullYear().toString();
        }
    
        if (!aggregatedData[label]) {
          aggregatedData[label] = 0;
        }
        aggregatedData[label] += item["Net Total"];
      });
    
      labels = Object.keys(aggregatedData);
      data = Object.values(aggregatedData).map(value => Math.round(value)); // Round to nearest whole number
    
      var options = {
        chart: {
          height: 350,
          type: "line",
          zoom: {
            enabled: false
          },
          toolbar: {
            show: false // Disable the toolbar including download option
          }
        },
        dataLabels: {
          enabled: false
        },
        stroke: {
          width: [5],
          curve: "straight"
        },
        series: [{
          name: "Net Total",
          data: data
        }],
        markers: {
          size: 0,
          style: "hollow", // full, hollow, inverted
        },
        xaxis: {
          categories: labels,
        },
        tooltip: {
          y: {
            title: {
              formatter: function(val) {
                return val;
              }
            }
          }
        },
        grid: {
          borderColor: "#f1f1f1",
        }
      };
    
      var chart = new ApexCharts(
        document.querySelector("#apexcharts-line"),
        options
      );
      chart.render();
    }
    

    // Showing 3 trends... can be useful later

    {% comment %} function populateLineChart() {
      var labels = [];
      var data1 = [];
      var data2 = [];
      var data3 = [];
      var aggregatedData1 = {};
      var aggregatedData2 = {};
      var aggregatedData3 = {};
  
      window.reportData.forEach(item => {
        var date = new Date(item["Invoice Date"]);
        var label = date.toISOString().split('T')[0];
  
        if (!aggregatedData1[label]) {
          aggregatedData1[label] = 0;
          aggregatedData2[label] = 0;
          aggregatedData3[label] = 0;
        }
  
        aggregatedData1[label] += item["Net Total"];
        aggregatedData2[label] += item["Net Total"] / 2; // Example transformation
        aggregatedData3[label] += item["Net Total"] / 3; // Example transformation
      });
  
      labels = Object.keys(aggregatedData1);
      data1 = Object.values(aggregatedData1).map(value => Math.round(value)); // Round to nearest whole number
      data2 = Object.values(aggregatedData2).map(value => Math.round(value)); // Round to nearest whole number
      data3 = Object.values(aggregatedData3).map(value => Math.round(value)); // Round to nearest whole number
  
      var options = {
        chart: {
          height: 350,
          type: "line",
          zoom: {
            enabled: false
          },
        },
        dataLabels: {
          enabled: false
        },
        stroke: {
          width: [5, 7, 5],
          curve: "straight",
          dashArray: [0, 8, 5]
        },
        series: [{
            name: "Session Duration",
            data: data1
          },
          {
            name: "Page Views",
            data: data2
          },
          {
            name: "Total Visits",
            data: data3
          }
        ],
        markers: {
          size: 0,
          style: "hollow", // full, hollow, inverted
        },
        xaxis: {
          categories: labels,
        },
        tooltip: {
          y: [{
            title: {
              formatter: function(val) {
                return val + " (mins)"
              }
            }
          }, {
            title: {
              formatter: function(val) {
                return val + " per session"
              }
            }
          }, {
            title: {
              formatter: function(val) {
                return val;
              }
            }
          }]
        },
        grid: {
          borderColor: "#f1f1f1",
        }
      }
      var chart = new ApexCharts(
        document.querySelector("#apexcharts-line"),
        options
      );
      chart.render();
    } {% endcomment %}

    document.addEventListener("DOMContentLoaded", function() {
      $.ajax({
        url: apiUrl,
        type: 'GET',
        data: requestData,
        dataType: 'json',
        success: function (data) {
          if ($.isEmptyObject(data)) {
            $('#spreadsheet').html('<div class="alert alert-warning">No data available.</div>');
            return;
          }
          if (typeof data === 'string') {
            data = JSON.parse(data);
          }
          if (Array.isArray(data)) {
            window.reportData = data;
            {% comment %} updateChart('week'); {% endcomment %}
            populateLineChart('week');
          }
        },
        error: function (xhr, status, error) {
          $('#spreadsheet').html('<div class="alert alert-danger">Error fetching data.</div>');
        }
      });
    });
  </script>

{% endblock %}
  