{% extends 'commonutil/base.html' %}
{% load static %}

{% block title %}
  Dashboard | Clifftip
{% endblock %}

{% block styles %}
  <script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
  <style>
    /* Basic styling for dropdown and table */
    .dropdown {
      position: relative;
      display: inline-block;
    }

    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      max-height: 200px; /* Approx 6-7 items */
      overflow-y: auto;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1;
      padding: 10px;
    }

    .dropdown-content .form-check {
      margin: 5px 0;
    }

    .show {
      display: block;
    }

    .dropdown-footer {
      position: sticky;
      bottom: 0;
      background-color: #f9f9f9;
      padding: 10px;
      box-shadow: 0px -2px 4px 0px rgba(0, 0, 0, 0.1);
    }

    .number-input-group-danger {
      background-color: #ffcccc;
    }

    .number-input-group-action {
      background-color: #ffffcc;
    }

    .number-input-group-acceptable {
      background-color: #ccffcc;
    }
  </style>
{% endblock %}

{% block content %}
  <div class="wrapper">
    {% include 'commonutil/sidebar.html' %}
    <div class="main">
      {% include 'commonutil/navbar.html' %}
      <main class="content">
        <div class="container-fluid p-0">
          <div class="d-flex justify-content-between align-items-center mb-3">
            <h1 class="h3 mb-0">Dashboard</h1>
            <button class="btn btn-primary my-1" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">Configuration</button>
          </div>
          <div class="row">

            <div class="col-lg-6 col-xl-6 col-xxl-6 d-flex">
              <div class="w-100">
                <div class="card">
                  <div class="card-body">
                    <div class="d-flex justify-content-between">
                      <h5 class="card-title">All Parties data completion</h5>
                    </div>
                    <div style="overflow-x: auto;">
                      <table id="report-table" class="table" style="border-collapse: collapse; width: 100%;">
                        <thead>
                          <tr>
                            {% for column, count in result.all_parties_with_sale.counts.items %}
                              <th class="report-column" style="padding: 0.6em; white-space: nowrap; border: 1px solid white; background-color: #96D4D4; text-align: left;" data-column="{{ column }}">{{ column }}</th>
                            {% endfor %}
                          </tr>
                        </thead>
                        <tbody>
                          <tr id="report-row">
                            {% for column, count in result.all_parties_with_sale.counts.items %}
                              <td class="report-column" data-column="{{ column }}" style="padding: 0.6em; border: 1px solid white; {% if count > result.all_parties_with_sale.threshold.danger %} background-color: #ffcccc;
                                {% elif count >= result.all_parties_with_sale.threshold.action and count <= result.all_parties_with_sale.threshold.danger %} background-color: #ffffcc;
                                {% else %} background-color: #ccffcc;
                                {% endif %}">
                                <a href="{% url 'report-view' result.all_parties_with_sale.report.id %}" style="display: block; width: 100%; height: 100%; text-decoration: none; color: inherit;">
                                    {{ count }}
                                </a>
                              </td>
                            {% endfor %}
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-6 col-xl-6 col-xxl-6 d-flex">
              <div class="w-100">
                <div class="card">
                  <div class="card-header">
                    <h5 class="card-title">Bar Chart</h5>
                    <h6 class="card-subtitle text-muted">A bar chart provides a way of showing data values represented as vertical bars.</h6>
                  </div>
                  <div class="card-body">
                    <div class="chart">
                      <canvas id="chartjs-bar"></canvas>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </main>
    </div>
  </div>

  <div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel" style="overflow-y: auto; background-color: #F5F7FB;">
    <div class="offcanvas-header">
      <h4 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Dashboard Configuration</h4>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
  
      <div class="card mb-3">
        <div class="card-header d-flex justify-content-between align-items-center">
          <h6 class="card-title mb-0">All Parties data completion</h6>
          <button class="btn btn-success" id="save-values">Save</button>
        </div>
        <div class="card-body">
          <div class="mb-3">
            <label class="form-label">Danger</label>
            <div class="input-group">
              <button class="btn btn-outline-secondary" type="button" onclick="decrement('danger-value')">-</button>
              <input type="text" class="form-control text-center number-input-group-danger" id="danger-value" value="{{ result.all_parties_with_sale.threshold.danger|default:0 }}">
              <button class="btn btn-outline-secondary" type="button" onclick="increment('danger-value')">+</button>
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label">Action</label>
            <div class="input-group">
              <button class="btn btn-outline-secondary" type="button" onclick="decrement('action-value')">-</button>
              <input type="text" class="form-control text-center number-input-group-action" id="action-value" value="{{ result.all_parties_with_sale.threshold.action|default:0 }}">
              <button class="btn btn-outline-secondary" type="button" onclick="increment('action-value')">+</button>
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label">Acceptable</label>
            <div class="input-group">
              <button class="btn btn-outline-secondary" type="button" onclick="decrement('acceptable-value')">-</button>
              <input type="text" class="form-control text-center number-input-group-acceptable" id="acceptable-value" value="{{ result.all_parties_with_sale.threshold.acceptable|default:0 }}">
              <button class="btn btn-outline-secondary" type="button" onclick="increment('acceptable-value')">+</button>
            </div>
          </div>
        </div>
      </div>
  
      <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
          <h5 class="card-title mb-0">DataTables Ajax Sourced Data</h5>
          <button id="save-columns" class="btn btn-success">Save</button>
        </div>
        <div class="card-body" style="max-height: 15em; overflow-y: auto;">
          <div class="checkbox-list p-2 rounded border">
            {% for column, count in result.all_parties_with_sale.counts.items %}
              <div class="form-check mb-2">
                <input class="form-check-input column-checkbox" type="checkbox" value="{{ column }}" id="check{{ forloop.counter }}" />
                <label class="form-check-label" for="check{{ forloop.counter }}">{{ column }}</label>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
  
    </div>
  </div>

  <script>
    function getCookie(name) {
      let cookieValue = null;
      if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
          const cookie = cookies[i].trim();
          if (cookie.substring(0, name.length + 1) === (name + '=')) {
            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
            break;
          }
        }
      }
      return cookieValue;
    }

    function increment(id) {
      let input = document.getElementById(id);
      input.value = parseInt(input.value) + 1;
    }

    function decrement(id) {
      let input = document.getElementById(id);
      if (input.value > 0) {
        input.value = parseInt(input.value) - 1;
      }
    }

    document.getElementById('save-values').addEventListener('click', function() {
      const csrftoken = getCookie('csrftoken');
      const data = {
        threshold: {
          danger: document.getElementById('danger-value').value,
          action: document.getElementById('action-value').value,
          acceptable: document.getElementById('acceptable-value').value
        },
        methodName: 'save_all_parties_ddr_threshold',
      };

      $.ajax({
        url: "{% url 'ddr-api-saveEntity' %}",
        method: "POST",
        headers: {
          'X-CSRFToken': csrftoken,
          'Content-Type': 'application/json'
        },
        data: JSON.stringify(data),
        success: function(response) {
          // Update the table cells dynamically
          updateTable(response.threshold);
        },
        error: function(error) {
          console.error('Error:', error);
        }
      });
    });

    function updateTable(thresholds) {
      $('#report-row .report-column').each(function() {
        const column = $(this).data('column');
        let value = parseInt($(this).find('a').text());

        if (value > thresholds.danger) {
          $(this).css('background-color', '#ffcccc');
        } else if (value >= thresholds.action && value <= thresholds.danger) {
          $(this).css('background-color', '#ffffcc');
        } else {
          $(this).css('background-color', '#ccffcc');
        }
      });
    }
  </script>


  <script>
    $(document).ready(function() {
      const csrftoken = getCookie('csrftoken');

      // Pre-select checkboxes based on selected_columns and then clear it
      var selectedColumns = {{ result.all_parties_with_sale.selected_columns|safe }};
      selectedColumns.forEach(function(column) {
        $('.column-checkbox[value="' + column + '"]').prop('checked', true);
      });

      // Handle save button click for columns
      $('#save-columns').click(function() {
        var selectedColumns = [];
        $('.column-checkbox:checked').each(function() {
          selectedColumns.push($(this).val());
        });
  
        $.ajax({
          url: "{% url 'ddr-api-saveEntity' %}",
          method: "POST",
          headers: {
            'X-CSRFToken': csrftoken,
            'Content-Type': 'application/json'
          },
          data: JSON.stringify({
            columns: selectedColumns,
            report_id: {{result.all_parties_with_sale.report.id}},
            methodName: 'save_all_parties_ddr_selected_columns',
          }),
          success: function(response) {
            // Optionally handle the response from the backend
          }
        });
      });
  
      // Handle column checkbox change
      $('.column-checkbox').change(function() {
        var selectedColumns = [];
        $('.column-checkbox:checked').each(function() {
          selectedColumns.push($(this).val());
        });
  
        $('.report-column').each(function() {
          var column = $(this).data('column');
          if (selectedColumns.includes(column)) {
            $(this).show();
          } else {
            $(this).hide();
          }
        });
      });
  
      // Initially hide columns based on default selections (if needed)
      $('.column-checkbox').change();
    });
			
  </script>

  <script>
    document.addEventListener("DOMContentLoaded", function() {
      new Chart(document.getElementById("chartjs-bar"), {
        type: "bar",
        data: {
          labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
          datasets: [{
            label: "Last year",
            backgroundColor: window.theme.primary,
            borderColor: window.theme.primary,
            hoverBackgroundColor: window.theme.primary,
            hoverBorderColor: window.theme.primary,
            data: [54, 67, 41, 55, 62, 45, 55, 73, 60, 76, 48, 79],
            barPercentage: .75,
            categoryPercentage: .5
          }, {
            label: "This year",
            backgroundColor: "#dee2e6",
            borderColor: "#dee2e6",
            hoverBackgroundColor: "#dee2e6",
            hoverBorderColor: "#dee2e6",
            data: [69, 66, 24, 48, 52, 51, 44, 53, 62, 79, 51, 68],
            barPercentage: .75,
            categoryPercentage: .5
          }]
        },
        options: {
          maintainAspectRatio: false,
          legend: {
            display: false
          },
          scales: {
            yAxes: [{
              gridLines: {
                display: false
              },
              stacked: false,
              ticks: {
                stepSize: 20
              }
            }],
            xAxes: [{
              stacked: false,
              gridLines: {
                color: "transparent"
              }
            }]
          }
        }
      });
    });
  </script>
{% endblock %}
  