{% extends 'commonutil/base.html' %}
{% load static %}

{% block title %}
  Dashboard | Clifftip
{% endblock %}

{% block styles %}
  <script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
  <link href="{% static 'css/handsontable.full.min.css' %}" rel="stylesheet" />
  <style>
    .form-group label {
      display:none;
    }
  </style>
  
{% endblock %}

{% block content %}
  <div class="wrapper">
    {% include 'commonutil/sidebar.html' %}
    <div class="main">
      {% include 'commonutil/navbar.html' %}
      <main class="content">
        <div class="container-fluid p-0">
          <div class="d-flex justify-content-between align-items-center mb-3">
            <h1 class="h3 mb-0">Dashboard</h1>
            <div>
              <a href="{% url 'ddr-home' %}?cached=false" class="btn btn-primary">Refresh</a>
              <button class="btn btn-primary my-1" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">Configuration</button>
            </div>
          </div>
          <div class="row">

            <div class="col-lg-6 col-xl-6 col-xxl-6 d-flex flex-column">
              <div class="w-100">
                
                {% if "all_parties_with_sale" in accessible_reports %}
                  {% include "ddr/report/all_parties_with_sale.html" %}
                {% endif %}
            
                {% if "sale_register" in accessible_reports %}
                  {% include "ddr/report/sale_register.html" %}
                {% endif %}

              </div>
            </div>
          
            <div class="col-lg-6 col-xl-6 col-xxl-6 d-flex">
              <div class="w-100">

                {% if "bom_report" in accessible_reports %}
                  {% include "ddr/report/bom_report.html" %}
                {% endif %}  

                {% if "routing_report" in accessible_reports %}
                  {% include "ddr/report/routing_report.html" %}
                {% endif %}

                {% if "sale_purchase" in accessible_reports %}
                  {% include "ddr/report/sale_purchase.html" %}
                {% endif %}

              </div>
            </div>
          </div>
          
        </div>

      </main>
    </div>
  </div>

  <div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel" style="overflow-y: auto; background-color: #F5F7FB;">
    <div class="offcanvas-header">
      <h4 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Dashboard Configuration</h4>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
  
      {% if "all_parties_with_sale" in accessible_reports %}
        {% include "ddr/configuration/all_parties_with_sale.html" %}
      {% endif %}
      
      {% if "bom_report" in accessible_reports %}
        {% include "ddr/configuration/bom_report.html" %}
      {% endif %}

      {% if "routing_report" in accessible_reports %}
        {% include "ddr/configuration/routing_report.html" %}
      {% endif %}
      
    </div>
  </div>
  
  <script>
    var chart;
    var apiUrl = '{% url 'report-datefilter-excel-api' result.sale_register.report.id|default:"0" %}';
    var pageType = 'ddr';
    document.addEventListener('DOMContentLoaded', function () {
        var ctx = document.getElementById('bom-chart-percentage-trend').getContext('2d');
        var dataLockPercent = [
            {% for item in result.bom_report.items %}
                {{ item.data_lock_percent|floatformat:2 }},
            {% endfor %}
        ];

        var chart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: dataLockPercent.map((_, index) => index + 1), // Adding labels to avoid undefined issue
                datasets: [{
                    data: dataLockPercent,
                    borderColor: 'rgba(0, 123, 255, 1)',
                    borderWidth: 1,
                    fill: false,
                    pointBackgroundColor: 'rgba(120, 120, 120, 1)', // Color for highlighted points
                    pointBorderColor: 'rgba(255, 0, 0, 0)', // Border color for highlighted points
                    pointRadius: 2 // Size of highlighted points
                }]
            },
            options: {
              legend: {
                display: false
             },
             tooltips: {
                enabled: false
             },
              scales: {
                xAxes: [{
                  ticks: {
                    display: false //this will remove only the label
                },
                    gridLines: {
                        display:false
                    }
                }],
                yAxes: [{
                  ticks: {
                    display: false //this will remove only the label
                },
                    gridLines: {
                        display:false
                    }   
                  }]
                },
                plugins: {
                    legend: {
                        display: false // Hide the legend
                    }
                },
                elements: {
                    point: {
                        radius: 0 // Highlight data points
                    },
                    line: {
                        tension: 0 // Add some curve to the line
                    }
                },
                responsive: true,
                maintainAspectRatio: false,
                animation: false
            }
        });
    });
  </script>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
        var ctx = document.getElementById('routing-chart-percentage-trend').getContext('2d');
        var dataLockPercent = [
            {% for item in result.routing_report.items %}
                {{ item.data_lock_percent|floatformat:2 }},
            {% endfor %}
        ];

        var chart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: dataLockPercent.map((_, index) => index + 1), // Adding labels to avoid undefined issue
                datasets: [{
                    data: dataLockPercent,
                    borderColor: 'rgba(0, 123, 255, 1)',
                    borderWidth: 1,
                    fill: false,
                    pointBackgroundColor: 'rgba(120, 120, 120, 1)', // Color for highlighted points
                    pointBorderColor: 'rgba(255, 0, 0, 0)', // Border color for highlighted points
                    pointRadius: 2 // Size of highlighted points
                }]
            },
            options: {
              legend: {
                display: false
            },
            tooltips: {
                enabled: false
            },
              scales: {
                xAxes: [{
                  ticks: {
                    display: false //this will remove only the label
                },
                    gridLines: {
                        display:false
                    }
                }],
                yAxes: [{
                  ticks: {
                    display: false //this will remove only the label
                },
                    gridLines: {
                        display:false
                    }   
                  }]
                },
                plugins: {
                    legend: {
                        display: false // Hide the legend
                    }
                },
                elements: {
                    point: {
                        radius: 0 // Highlight data points
                    },
                    line: {
                        tension: 0 // Add some curve to the line
                    }
                },
                responsive: true,
                maintainAspectRatio: false,
                animation: false
            }
        });
    });
  </script>

  <script>
    function getCookie(name) {
      let cookieValue = null;
      if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
          const cookie = cookies[i].trim();
          if (cookie.substring(0, name.length + 1) === (name + '=')) {
            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
            break;
          }
        }
      }
      return cookieValue;
    }

    function saveEntity(data, successCallback) {
      const csrftoken = getCookie('csrftoken');
      $.ajax({
        url: "{% url 'ddr-api-saveEntity' %}",
        method: "POST",
        headers: {
          'X-CSRFToken': csrftoken,
          'Content-Type': 'application/json'
        },
        data: JSON.stringify(data),
        success: function(response) {
          successCallback(response);
        },
        error: function(error) {
          console.error('Error:', error);
        }
      });
    }
    
    function increment(id) {
      let input = document.getElementById(id);
      input.value = parseInt(input.value) + 1;
    }

    function decrement(id) {
      let input = document.getElementById(id);
      if (input.value > 0) {
        input.value = parseInt(input.value) - 1;
      }
    }

    document.getElementById('save-values').addEventListener('click', function() {
      const data = {
        threshold: {
          danger: document.getElementById('danger-value').value,
          action: document.getElementById('action-value').value,
          acceptable: document.getElementById('acceptable-value').value
        },
        methodName: 'save_all_parties_ddr_threshold',
      };

      saveEntity(data, function(response) {
        updateTable(response.threshold);
        window.location.href = "{% url 'ddr-home' %}?cached=false";
      });
    });

    function updateTable(thresholds) {
      $('#report-row .report-column').each(function() {
        const column = $(this).data('column');
        let value = parseInt($(this).find('a').text());

        if (value > thresholds.danger) {
          $(this).css('background-color', '#ffcccc');
        } else if (value >= thresholds.action && value <= thresholds.danger) {
          $(this).css('background-color', '#ffffcc');
        } else {
          $(this).css('background-color', '#ccffcc');
        }
      });
    }
  </script>
  
  <script>
    document.getElementById('save-bom-visibility').addEventListener('click', function() {
      const data = {
        visibility_count: document.getElementById('bom-visibility-value').value,
        methodName: 'save_bom_report_visibility_count',
      };

      saveEntity(data, function(response) {
        window.location.href = "{% url 'ddr-home' %}?cached=false";
      });
    });
  </script>

  <script>
    document.getElementById('save-routing-visibility').addEventListener('click', function() {
      const data = {
        visibility_count: document.getElementById('routing-visibility-value').value,
        methodName: 'save_routing_report_visibility_count',
      };

      saveEntity(data, function(response) {
        window.location.href = "{% url 'ddr-home' %}?cached=false";
      });
    });
  </script>

  <script>
    $(document).ready(function() {
      // Pre-select checkboxes based on selected_columns and then clear it
      var selectedColumns = {{ result.all_parties_with_sale.selected_columns|safe }};
      selectedColumns.forEach(function(column) {
        $('.column-checkbox[value="' + column + '"]').prop('checked', true);
      });

      // Handle save button click for columns
      $('#save-columns').click(function() {
        var selectedColumns = [];
        $('.column-checkbox:checked').each(function() {
          selectedColumns.push($(this).val());
        });

        const data = {
          columns: selectedColumns,
          report_id: {{result.all_parties_with_sale.report.id}},
          methodName: 'save_all_parties_ddr_selected_columns',
        }

        saveEntity(data, function(response) {
          window.location.href = "{% url 'ddr-home' %}?cached=false";
        });
      });

      // Handle column checkbox change
      $('.column-checkbox').change(function() {
        var selectedColumns = [];
        $('.column-checkbox:checked').each(function() {
          selectedColumns.push($(this).val());
        });
  
        $('.report-column').each(function() {
          var column = $(this).data('column');
          if (selectedColumns.includes(column)) {
            $(this).show();
          } else {
            $(this).hide();
          }
        });
      });
  
      // Initially hide columns based on default selections (if needed)
      $('.column-checkbox').change();
    });
  </script>


  <script>
    function populateLineChart(view) {
      var labels = [];
      var data = [];
      var aggregatedData = {};
    
      window.reportData.forEach(item => {
        var date = new Date(item["Invoice Date"]);
        var label;
    
        if (view === 'day') {
          label = date.toISOString().split('T')[0];
        } else if (view === 'week') {
          var weekStart = new Date(date.setDate(date.getDate() - date.getDay())).toISOString().split('T')[0];
          label = weekStart;
        } else if (view === 'month') {
          label = date.getFullYear() + '-' + ("0" + (date.getMonth() + 1)).slice(-2);
        } else if (view === 'year') {
          label = date.getFullYear().toString();
        }
    
        if (!aggregatedData[label]) {
          aggregatedData[label] = 0;
        }
        aggregatedData[label] += item["Net Total"];
      });
    
      labels = Object.keys(aggregatedData);
      data = Object.values(aggregatedData).map(value => Math.round(value)); // Round to nearest whole number
    
      var options = {
        chart: {
          height: 350,
          type: "line",
          zoom: {
            enabled: false
          },
          toolbar: {
            show: false // Disable the toolbar including download option
          }
        },
        dataLabels: {
          enabled: false
        },
        stroke: {
          width: [5],
          curve: "straight"
        },
        series: [{
          name: "Net Total",
          data: data
        }],
        markers: {
          size: 0,
          style: "hollow", // full, hollow, inverted
        },
        xaxis: {
          categories: labels,
        },
        tooltip: {
          y: {
            title: {
              formatter: function(val) {
                return val;
              }
            }
          }
        },
        grid: {
          borderColor: "#f1f1f1",
        }
      };
    
      if (chart) {
        chart.destroy();
        document.querySelector("#apexcharts-line").innerHTML = ""; // Clear the chart container
      }
      
      chart = new ApexCharts(
        document.querySelector("#apexcharts-line"),
        options
      );
      chart.render();
    }
  </script>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      $('#centeredModalPrimary').on('shown.bs.modal', function () {
        var container = document.getElementById('spreadsheet');

        if (!window.handsontableManagerInstance) {
          window.handsontableManagerInstance = new handsontableManager('spreadsheet');
        } else {
          window.handsontableManagerInstance.initOrUpdateHandsontable(window.reportExcelJson);
        }
      });
    });

    // Function to filter data based on the clicked column
    window.originalReportExcelJson = {{ result.all_parties_with_sale.data|safe }}; // Keep the original data
    window.reportExcelJson = [...window.originalReportExcelJson]; // Displayed data

     function filterData(columnName, count) {
      if (count > 0) {
          const filteredData = window.originalReportExcelJson.filter(row => row[columnName] === "" || row[columnName] === null);
          window.reportExcelJson = filteredData;
      } else {
          window.reportExcelJson = [...window.originalReportExcelJson];
      }
      document.getElementById('modalTitle').innerText = `All Parties: ${columnName}`;
      document.dispatchEvent(new Event('dataUpdated')); // Trigger an event to update the table
    }

    // Event listener for table column click
    document.addEventListener('DOMContentLoaded', function () {
        const table = document.getElementById('report-table');
        table.addEventListener('click', function (e) {
            if (e.target.tagName === 'TD') {
                const columnName = e.target.getAttribute('data-column');
                filterData(columnName);
            }
        });
    });
  </script>


{% endblock %}
  

{% block script %}
  <script src="{% static 'js/handsontable.full.min.js' %}"></script>
  <script src="{% static 'js/xlsx.full.min.js' %}"></script>
  <script src="{% static 'js/custom/datePickerSettings1.js' %}"></script>
{% endblock %}